@import "tailwindcss";

:root {
  --primary-color: black;
  --secondary-color: white;
}

[data-theme="dark"] {
  --primary-color: white;
  --secondary-color: black;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
